<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="AddinFileName" value="KeLi.XdbDataDumper.For2018.addin" />
    <add key ="AddinPattern" value="KeLi.XdbDataDumper*.dll"/>
    <add key ="AddinsPath" value="Autodesk\Revit\Addins"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>