<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AddinFileName" value="KeLi.XdbDataDumper.addin" />
    <add key ="AddinNamePattern" value="KeLi.XdbDataDumper*.dll"/>
    <add key="AddinBaseDirPath" value="Autodesk\Revit\Addins"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>